html {
    font-size: 16px;
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1536px) and (min-width: 1024px) {
    html {
        font-size: 18px;
    }
}

.bg-leaf-lang {
    background: #0c5731;
}
